github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "Hearst-DD/ObjectMapper"
github "realm/realm-cocoa"
github "ankurp/Dollar"
github "onevcat/Kingfisher"
github "facebook/facebook-sdk-swift"
github "SnapKit/SnapKit" == 3.0.2
github "kishikawakatsumi/KeychainAccess"
github "ReactiveX/RxSwift" "3.0.0-beta.2"
github "kitasuke/PagingMenuController"
